<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Size1</key>
	<dict>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>Size2</key>
	<dict>
		<key>size</key>
		<integer>16</integer>
	</dict>
	<key>Size3</key>
	<dict>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>Size4</key>
	<dict>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>Size5</key>
	<dict>
		<key>size</key>
		<integer>13</integer>
	</dict>
	<key>Size6</key>
	<dict>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>Size7</key>
	<dict>
		<key>size</key>
		<integer>11</integer>
	</dict>
	<key>Size8</key>
	<dict>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>Size9</key>
	<dict>
		<key>size</key>
		<integer>30</integer>
	</dict>
	<key>Size10</key>
	<dict>
		<key>size</key>
		<integer>40</integer>
	</dict>
	<key>Size11</key>
	<dict>
		<key>size</key>
		<integer>9</integer>
	</dict>
	<key>Size12</key>
	<dict>
		<key>size</key>
		<integer>22</integer>
	</dict>
	<key>Size13</key>
	<dict>
		<key>size</key>
		<integer>19</integer>
	</dict>
	<key>Size14</key>
	<dict>
		<key>size</key>
		<integer>20</integer>
	</dict>
	<key>Size15</key>
	<dict>
		<key>size</key>
		<integer>23</integer>
	</dict>
	<key>Size16</key>
	<dict>
		<key>size</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
